<div class="box">
<h1>C O A C H</h1>
<div class="box box-answer">
<h2>Your question: &nbsp;&nbsp; </h2>
<p> <%=   @question %></p><br>
</div>
<div class="box box-answer">
<h2>Coach answers: &nbsp;&nbsp; </h2>
<p>&nbsp;<%= @answer %></p>

</div>
</div>


<p class="btn"><%= link_to "Ask another question", ask_path %><p>