<div class="box">
  <h1>C O A C H</h1><br>

  <form action="/answer">
    <input type="text" name="question" placeholder="Ask your coach anything">
    <input type="submit" value="Ask!" class="btn">
  </form> 
</div>