// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  margin-top: 50px;
}

h1 {
  color: #FFFFFF;

text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

h2 {
  color: white;
}

.btn {
  background-color: #813459;
  padding: 3px 8px;
  border-radius: 5px;
  color: white;
  text-decoration: none !important;
}

p {
  color: white;
}

.btn :visited {
  color: white;
  text-decoration: none !important;
}

.box {
  margin-top: 15px;
  border: 5px black outset;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgba(84, 203, 224, 0.178);
}

.box-answer {
  background-color: #e6509877;
  width: 200px;
}